.card-pricing:hover::before {
  content: '';
  position: absolute;
  color: #fff;
  background: #232323;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: -10;
  transition: background-color 3s ease;
}

.card-pricing::before {
  background: white;
  transition: background-color 3s ease;
}

.card-pricing:active {
  background: #c5c5c5;
  transform: scale(0.95);
}
